<a href="https://colab.research.google.com/github/LynnICT/Data-Science/blob/main/AssignmentForCourse2Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def gauss(n):
  return (n*(n+1))/2

gauss(100) == sum(range(101))

True

In [ ]:
# My Jupyter Notebook on IBM Watson Studio

# My Jupyter Notebook on IBM Watson Studio

**Xiaolin Ma** 

Data Scientist

*I am interested in data science because I want to use it to analyze the research data collected and to provide better solutions for my clients.*

### The result of one plus one can be displayed as follows.

In [2]:
print("1 + 1 =", 1+1)

1 + 1 = 2

#### `1.horizontal rule`
---

---
***
___


#### `2.bulleted list`
___

* Course 1
* Course 2

#### `3.numbered list`
___

1. Course 3
2. Course 4


#### `4.Table`
___

Column A | Column B | Column C
--- | --- | --- 
*Week 4* | ~~course 4~~ | **funny**
4 | 4 | 10


#### `5.Hyperlinks`
___

URLs and URLs in angle brackets will automatically get turned into links. 
https://cloud.ibm.com/ or <https://cloud.ibm.com/> 





#### `6.Image`
___

Watson logo:
![alt IBM](https://www.ibm.com/blogs/think/wp-content/uploads/2019/10/This-is-Watson-Graphic-2019.jpg)








#### `7.code/syntax highlighting`
___

```normal
s = "normal"
print s
```

```python
s = "Python syntax highlighting"
print s
```
```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```


#### `8.blocked quotes`
___

> Blockquotes are very handy in email to emulate reply text.
> Well, you can *put* **Markdown** into a blockquote. 
> This line is part of the same quote.


#### `9.strikethrough`
___

~~test for strikethrough~~